{% extends 'base.html' %}

{% block head_content %}
  <title>Sebastian's Library | Books</title>
{% endblock head_content %}

{% block content %}
  {% include 'header.html' %}
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="
        row
        gx-4 gx-lg-5
        row-cols-2 row-cols-md-3 row-cols-xl-4
        justify-content-center
      "
    >
  {% for book in books %}
    {% include 'card.html' %}
  {% endfor %}
    </div>
  </div>
{% endblock content %}